<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Galaxy Editor"
            extensions="galaxy"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.zhjh.galaxykit.editor.GALEditor"
            id="org.zhjh.galaxykit.editor.GALEditor">
      </editor>
   </extension>

</plugin>
