<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.zhjh.galaxykit.editor.GALEditor"
            extensions="galaxy"
            id="org.zhjh.galaxykit"
            name="GalaxyKit">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.zhjh.galaxykit.options.GALPreferences">
      </initializer>
   </extension>

</plugin>
